<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Draw over minimap renders.">
    <meta name="keywords" content="World of Warships, Minimap, Draw">
    <meta name="author" content="notyourfather">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Minimap Tactics" />
    <meta property="og:description" content="A minimap tactics site for room ({{room}})" />
    <title>Minimap Tactics</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <style>
        body {
            background-color: #102031;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        video {
            padding: 0;
        }

        .content {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        #canvas {
            padding: 0;
            width: 800px;
            height: 850px;
            position: absolute !important;
            z-index: 10 !important;
        }

        #toast-popup {
            width: 100%;
            margin: 1.5em;
            position: absolute;
            z-index: 9999;
        }
    </style>
</head>

<body>
    <div class="modal fade" id="settingControlsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings & Controls</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="lineColorPicker" class="form-label h6">Color picker</label>
                                    <input type="color" class="form-control form-control-color" id="lineColorPicker"
                                        value="#ff0000" style="height: 40px !important; width: 100% !important" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="tool" class="form-label h6">Tool</label>
                                    <select class="form-control form-select" id="tool">
                                        <option value="line">Line</option>
                                        <option value="ellipse">Ellipse</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="lineStyle" class="form-label h6">Line Style</label>
                                    <select class="form-control form-select" id="lineStyle">
                                        <option value="solid">Solid</option>
                                        <option value="dashed">Dashed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Key</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Show/Hide Option (this)</th>
                                <td>O</td>
                            </tr>
                            <tr>
                                <th scope="row">Clear lines</th>
                                <td>C</td>
                            </tr>
                            <tr>
                                <th scope="row">Clear lines (all clients)</th>
                                <td>ALT + C</td>
                            </tr>
                            <tr>
                                <th scope="row">Draw lines</th>
                                <td>RMB (hold) + movement</td>
                            </tr>
                            <tr>
                                <th scope="row">Ping</th>
                                <td>Double click</td>
                            </tr>
                            <tr>
                                <th scope="row">Seek forward</th>
                                <td>F</td>
                            </tr>
                            <tr>
                                <th scope="row">Seek backward</th>
                                <td>B</td>
                            </tr>
                            <tr>
                                <th scope="row">Play/Pause</th>
                                <td>P</td>
                            </tr>
                            <tr>
                                <th scope="row">Stop</th>
                                <td>S</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <canvas id="canvas"></canvas>
        <video id="minimap-video" src="{{video_url}}" width="800" height="850" muted preload></video>
    </div>
    <script type="text/javascript" src="/static/utils.js"></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js.cookie.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src='/static/paper-full.min.js'></script>
    <script type='text/javascript'>
        const socket = io();
        const clients = new Map();
        const tool = new paper.Tool();
        const strokeWidth = 3;
        const dash = [10, 10];
        const ghostOpacity = 0.5;
        const video = document.getElementById("minimap-video");

        paper.setup(document.getElementById("canvas"));
        tool.minDistance = 20;

        function getClientSettings(event) {
            let color = $("#lineColorPicker").val();
            let style = $("#lineStyle").val();
            let tool = $("#tool").val();
            return {
                type: event.type,
                tool: tool,
                color: color,
                style: style,
                x: event.point.x,
                y: event.point.y
            };
        }

        function toolMouseEventHandler(event) {
            socket.emit("event_mouse", getClientSettings(event));
        }

        tool.onMouseDown = toolMouseEventHandler;
        tool.onMouseUp = toolMouseEventHandler;
        tool.onMouseDrag = toolMouseEventHandler;
        paper.view.onDoubleClick = function (event) {
            socket.emit("mouse_dblclk", getClientSettings(event))
        }

        socket.on("connect", () => {
            console.log("connected!");
        })


        socket.on("client_left", (msg) => {
            let client_data = clients.get(msg)
            if (client_data && client_data.paths) {
                $.each(client_data.paths, (_, path) => {
                    path.remove();
                })
                $.each(client_data.shapes, (_, shape) => {
                    shape.remove();
                })
                clients.delete(msg);

            }
        })

        socket.on("event_mouse", (msg) => {
            let client_id = msg.client_id;
            clients.setne(client_id, { paths: [], shapes: [] })
            let client_data = clients.get(client_id);

            switch (msg.type) {
                case "mousedown":
                    if (msg.tool === "line") {
                        let new_path = new paper.Path()
                        new_path.strokeColor = msg.color;
                        new_path.strokeWidth = 3;
                        new_path.strokeCap = 'round';

                        if (msg.style !== "solid") {
                            new_path.dashArray = [10, 10];
                        }

                        client_data.paths.push(new_path)
                    } else {
                        let rect = new paper.Rectangle();
                        rect.topLeft = new paper.Point(msg.x, msg.y);
                        client_data.rect = rect
                    }
                    break;
                case "mouseup":
                    if (msg.tool === "line") {
                        let newest_path = client_data.paths.last();
                        newest_path.smooth();
                        newest_path.simplify();
                    } else {
                        let ellipse = new paper.Path.Ellipse(client_data.rect);
                        ellipse.strokeColor = msg.color;
                        ellipse.strokeWidth = strokeWidth;

                        if (msg.style !== "solid") {
                            ellipse.dashArray = dash;
                        }

                        if (client_data.ghost) {
                            client_data.ghost.remove();
                        }

                        client_data.shapes.push(ellipse);
                    }
                    break;
                case "mousedrag":
                    if (msg.tool === "line") {
                        client_data.paths.last().add(new paper.Point(msg.x, msg.y));
                    } else {
                        client_data.rect.bottomRight = new paper.Point(msg.x, msg.y);

                        if (client_data.ghost) {
                            client_data.ghost.remove();
                        }

                        let ghostEllipse = new paper.Path.Ellipse(client_data.rect);
                        ghostEllipse.strokeColor = msg.color;
                        ghostEllipse.strokeWidth = strokeWidth;
                        ghostEllipse.opacity = ghostOpacity;

                        if (msg.style !== "solid") {
                            ghostEllipse.dashArray = dash;
                        }

                        client_data.ghost = ghostEllipse;
                    }
                    break;
            }
        })

        socket.on("clear", (msg) => {
            let client_id = msg.client_id;
            let client_data = clients.get(client_id);

            if (client_data) {
                if (client_data.paths) {
                    $.each(client_data.paths, (_, p) => {
                        p.remove();
                    })
                }

                if (client_data.shapes) {
                    $.each(client_data.shapes, (_, p) => {
                        p.remove();
                    })
                }
            }
        })

        socket.on("delete_all", () => {
            clients.forEach((val, _) => {
                $.each(val.paths, (_, path) => {
                    path.remove();
                });
                $.each(val.shapes, (_, shape) => {
                    shape.remove();
                });
            });
        })

        socket.on("mouse_dblclk", (msg) => {
            let client_data = clients.get(msg.client_id);

            if (client_data.circle) {
                client_data.circle.remove();
            }

            client_data.circle = new paper.Shape.Circle(new paper.Point(msg.x, msg.y), 50);
            client_data.circle.strokeColor = msg.color;
            client_data.circle.strokeWidth = strokeWidth;
            client_data.circle.tween({ radius: 50 }, { radius: 0 }, 250);
        })

        paper.view.onKeyDown = (event) => {
            if (event.event.altKey && event.key == 'c') {
                socket.emit("delete_all");
            }
        }

        socket.on("play", (msg) => {
            //video.currentTime = msg;
            video.play().then((res) => {video.currentTime = msg}).catch((err) => { });
        })

        socket.on("pause", (msg) => {
            video.pause();
            video.currentTime = msg;
        })

        socket.on("seek", (msg) => {
            video.pause();
            video.currentTime = msg.time;
            if (msg.type === "f") {
                video.currentTime += 1;
            } else {
                video.currentTime -= 1;
            }
        })

        socket.on("stop", (msg) => {
            video.pause();
            video.currentTime = 0;
        })

        paper.view.onKeyUp = (event) => {
            switch (event.key) {
                case "o":
                    $('#settingControlsModal').modal('toggle');
                    break;
                case "p":
                    let playing = video.currentTime > 0 && !video.paused && !video.ended
                        && video.readyState > video.HAVE_CURRENT_DATA;
                    if (!playing) {
                        socket.emit("play", video.currentTime);
                    } else {
                        socket.emit("pause", video.currentTime);
                    }
                    break;
                case "s":
                    socket.emit("stop", video.currentTime);
                    break;
                case "f":
                    socket.emit("seek", { type: "f", time: video.currentTime });
                    break;
                case "b":
                    socket.emit("seek", { type: "b", time: video.currentTime });
                    break;
                case "c":
                    socket.emit("clear");
            }
        }
    </script>
</body>

</html>